
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col"  *ngFor="let product of products">
          <div class="card">
            <img src="{{ product.img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.details }}</p>
            </div>
            <div class="cta d-flex justify-content-center">
              <button (click)="buy()" class="btn btn-primary">Acheter</button>
              <button (click)="view()" class="btn btn-primary">Voir</button>
            </div>
          </div>
        </div>
    </div>


