<header class="header">
  <div class="container d-flex align-items-center justify-content-between pt-2 pb-2">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="header__logo">
      <a href="index.html"><img class="img-responsive logo" width="75" src="assets/img/logo.png" alt="e-kaly"></a>
    </div>

    <ul class="header__menu nav navbar-right navBar">
      <li class="header__menu__item nav-item active">
        <a href="#section0" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">
          Home
        </a>
      </li>
      <li class="header__menu__item nav-item">
        <a href="#section0" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">
          My cart
        </a>
        <app-cart></app-cart>
      </li>
      <li class="header__menu__item nav-item">
        <a href="#section0" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">
          My account
        </a>
      </li>
    </ul>
  </div>
</header>
